HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/


### IntelliJ IDEA ###
.idea
.idea/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

###결제 관련
**/toss-keys.txt
**/jwt-secret.txt

###이메일 인증 관련
src/main/resources/config/.env
**/.env
**/oauth-client-id.txt
src/main/resources/config/oauth-client-id.txt

# Firebase 키 보안
src/main/resources/config/*.json


.DS_Store